
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    
}

#main {
    display: flex;
    flex: 1;
    
}

#main>article {
    flex: 1;
    min-height:600px;
    
}

#main>nav {
    flex: 0 0 20vw;
    order: -1;
    
    
}

article,
nav {
    padding: 1em;

}



.bottom {
    position: sticky;
    bottom: 0;
    width: 100%;
    
}

.form-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
}

.form-group {
    margin: 10px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.action-buttons {
    width: 100%;
}

button {
    display: block;
    margin: 20px auto;
}

.face-snap-card {

    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-height:600px ;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    box-shadow: lightgray 4px 4px 20px;
}

.face-snap-card {
    img {
        width: 100%;
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        font-weight: 300;
        font-size: 16px;
    }



}



.textCenter {
    text-align: center;
}